:root {
--text-color: #1a1c20;
--link-color: #4a76ee;
--background-color: #FAFAF7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

html {
scroll-behavior: smooth;
}

body {
font-family: 'Poppins', sans-serif;
color: var(--text-color);
background-color: var(--background-color);
max-width: 1400px;
margin: 0 auto;
}

a {
color: var(--link-color);
text-decoration: none;
}

/* NAVBAR */
nav {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50px;
height: 80px;
}

nav .left a {
color: var(--text-color);
font-size: 22px;
font-weight: 600;
}

nav .right a {
color: var(--text-color);
margin: 0 10px;
}

nav .right a:last-child {
color: var(--background-color);
background-color: var(--text-color);
padding: 5px 15px;
border-radius: 5px;
}

nav .right a span {
margin-left: 5px;
}

/* TO CLASSIFY DIFFFERENT SECTION HEADINGS */

.skills-section h2,
.qualifications-section h2,
.workexperience-section h2,
.testimony-section h2,
.contact-section h2 {
font-size: 35px;
font-weight: 600;
text-align: center;
position: relative;
margin: 40px 0 30px;
}

.skills-section h2::before,
.skills-section h2::after,
.qualifications-section h2::before,
.qualifications-section h2::after,
.workexperience-section h2::before,
.workexperience-section h2::after,
.testimony-section h2::before,
.testimony-section h2::after,
.contact-section h2::before,
.contact-section h2::after {
content: "";
display: block;
width: 90%;
max-width: 1200px;
height: 5px; /* THICKNESS OF LINE IS THE SAME */
background-color: #737373;
margin: 15px auto;
}

/* ADJUST LINE SIZE */
@media (max-width: 600px) {
.skills-section h2::before,
.skills-section h2::after,
.qualifications-section h2::before,
.qualifications-section h2::after,
.workexperience-section h2::before,
.workexperience-section h2::after,
.testimony-section h2::before,
.testimony-section h2::after,
.contact-section h2::before,
.contact-section h2::after {
width: 95%;
}
}

/* SECTION 1: HERO */

.hero-section {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 50px;
margin: 50px 0 100px;
gap: 40px;
}

.hero-section .text {
flex: 5;
}

.hero-section .text h2 {
font-size: 45px;
}

.hero-section .text .links {
margin-top: 25px;
}

.hero-section .text .links a {
display: inline-block;
padding: 5px 10px;
border: 2px solid var(--link-color);
border-radius: 5px;
margin-right: 10px;
margin-bottom: 10px;
transition: 0.1s;
}

.hero-section .text .links a:hover {
color: var(--text-color);
border: 2px solid var(--text-color);
}

.hero-section .headshot {
flex: 2;
display: flex;
justify-content: right;
}

.hero-section .headshot img {
width: 350px;
border-radius: 50%;
}

/* SECTION 2: SKILLS */

.skills-section {
padding: 0 50px;
margin-bottom: 100px;
}

.skills-section .text {
text-align: center;
margin-bottom: 20px;
}

.skills-section .cells {
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.skills-section .cells .cell {
display: flex;
justify-content: center;
align-items: center;
gap: 10px;
width: 200px;
padding: 10px 20px;
margin: 10px;
border: 1.5px solid #d3d3d3;
border-radius: 5px;
}

.skills-section .cells .cell img {
width: 30px;
height: 30px;
object-fit: contain;
border-radius: 2px;
}

.skills-section .cells .cell span {
font-size: 18px;
}

/* SECTION 3: QUALIFICATIOM */

.qualifications-section {
padding: 0 50px;
margin-bottom: 80px;
}

/* ADJUST FOR TABLE SIZE */

.table-container {
width: 100%;
overflow-x: auto;
}

.qualifications-table {
width: 100%;
min-width: 400px;
border: 1px solid black;
border-collapse: collapse;
margin-top: 20px;
font-family: 'Poppins', sans-serif;
}

.qualifications-table th {
border: 1px solid black;
padding: 12px;
text-align: center;
vertical-align: middle;
background-color: #D3D3D3;
}

.qualifications-table td {
border: 1px solid black;
padding: 12px;
text-align: left;
}

/* ADJUST FOR SCREEN SIZE */

@media (max-width: 600px) {
.qualifications-table th,
.qualifications-table td {
padding: 8px;
font-size: 14px;
}
}

/* SECTION 4: WORK EXPRIENCE */

.workexperience-section {
padding: 0 50px;
margin-bottom: 100px;
}

.workexperience-section .group {
display: flex;
align-items: center;
gap: 50px;
background-color: #f5f5f5;
padding: 20px 30px;
border-radius: 20px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
margin-bottom: 30px;
flex-wrap: wrap;
border: 2px solid #000;
}

.workexperience-section .group .person-details {
text-align: center;
flex: 2;
min-width: 120px;
}

.workexperience-section .group .person-details img {
width: 100%;
max-width: 200px;
aspect-ratio: 1 / 1;
object-fit: cover;
border-radius: 20px;
margin-bottom: 10px;
border: none;
}

.workexperience-section .group .person-details p {
font-weight: 600;
margin: 5px 0;
}

.workexperience-section .group .person-details p:last-child {
font-weight: normal;
}

.workexperience-section .group .text {
flex: 8;
min-width: 250px;
}

/* SECTION 5: TESTIMONY */

.testimony-section {
padding: 0 50px;
margin-bottom: 100px;
}

.testimony-section .group {
display: flex;
align-items: center;
gap: 50px;
flex-wrap: wrap;
}

.testimony-section .group .person-details {
text-align: center;
flex: 2;
min-width: 120px;
}

.testimony-section .group .person-details img {
width: 100%;
max-width: 200px;
aspect-ratio: 1 / 1;
object-fit: cover;
border-radius: 50%;
margin-bottom: 10px;
border: 2px solid #ccc;
}

.testimony-section .group .person-details p {
font-weight: 600;
margin: 5px 0;
}

.testimony-section .group .person-details p:last-child {
font-weight: normal;
}

.testimony-section .group .text {
flex: 8;
min-width: 250px;
}

/* SECTION 6: CONTACT */

.contact-section {
padding: 0 50px;
margin-bottom: 100px;
}

.contact-section .group {
display: flex;
gap: 50px;
flex-wrap: wrap;
}

.contact-section .group .text {
flex: 3;
margin-top: 20px;
}

.contact-section .group form {
flex: 3;
display: flex;
flex-direction: column;
}

.contact-section .group form input,
.contact-section .group form textarea {
font-family: 'Poppins', sans-serif;
border: 2px solid var(--link-color);
background-color: transparent;
padding: 10px;
margin-bottom: 15px;
outline: none;
resize: none;
}

.contact-section .group form button {
font-size: 16px;
font-family: 'Poppins', sans-serif;
color: #fff;
background-color: var(--link-color);
border: none;
height: 50px;
cursor: pointer;
transition: 0.1s;
}

.contact-section .group form button:hover {
filter: brightness(0.9);
}

/* RESPONSIVE MEDIA QUERIES */

@media (max-width: 850px) {
.hero-section .text h2 {
font-size: 35px;
}
}

@media (max-width: 740px) {
.hero-section {
flex-direction: column-reverse;
}

.hero-section .headshot img {
width: 300px;
}

.testimony-section {
text-align: center;
}

.testimony-section .group {
flex-direction: column;
}

.contact-section .group {
flex-direction: column;
}
}

@media (max-width: 600px) {
nav {
padding: 0 20px;
}

nav .right a {
font-size: 22px;
}

nav .right a:last-child {
color: var(--text-color);
background-color: transparent;
padding: 0;
}

nav .right a span {
display: none;
}

.hero-section {
padding: 0 20px;
}

.hero-section .text h2 {
font-size: 30px;
}

.skills-section {
padding: 0 20px;
}

.skills-section .cells .cell span {
font-size: 16px;
}

.testimony-section {
padding: 0 20px;
}

.contact-section {
padding: 0 20px;
}
}
